
.ordinal-view {
  -fx-alignment: top-left;
  -fx-padding: 5 0;
  -fx-background-color : rgba(243, 243, 243, 1);
}

.ordinal-grid {
  -fx-padding:10;
}

.ordinal-head {
  -fx-padding: 5;
}

.ordinal-clauesGroup {
  -fx-padding:10;
  -fx-background-color :rgba(255, 255, 255, 1);
  -fx-background-radius:  0 0 5 5;
}

.ordinal-title {
  -fx-padding:10;
/*   -fx-background-color : linear-gradient(to bottom right, rgba(160, 216, 239, 1) 0%, rgba(193, 228, 233, 0.5) 50%, rgba(160, 216, 239, 0.7) 90%); */
  -fx-background-color : rgba(160, 216, 239, 1);
  -fx-background-radius:  5 5 0 0;
/*   -fx-effect: dropshadow(gaussian, rgba(160, 216, 239, 1), 5, 0, 2, 2); */
}

.ordinal-value {
  -fx-wrap-text:true;
  -fx-text-alignment:left;
/*  -fx-effect: dropshadow(gaussian, rgba(160, 216, 239, 1), 5, 0, 2, 2); */
}

