/* ツリーメニュー */
.treelist-pane {
  -fx-background-color : rgba(15, 35, 80, 1);
  -fx-background-insets : 0;
  -fx-background-radius : 0;
}

.treelist-pane .tree-cell,
.target-item,
.cate-item {
  -fx-font-size:15;
  -fx-text-fill : rgba(255, 255, 255, 1);
  -fx-background-color : rgba(15, 35, 80, 1);
}

.treelist-pane .tree-cell:selected,
.treelist-pane .tree-cell:selected > .target-item,
.treelist-pane .tree-cell:selected > .cate-item {
  -fx-text-fill : rgba(39, 146, 195, 1);
  -fx-background-color : rgba(255, 255, 255, 1);
}

.cate-item:hover,
.target-item:hover {
  -fx-cursor:hand;
}

.submenu {
  -fx-vgap:10;
  -fx-background-color : rgba(15, 35, 80, 1);
  -fx-border-style: solid;
  -fx-border-color: rgba(255, 255, 255, 1);
  -fx-border-width: 0 1 0 0;
}

.submenu-item {
  -fx-padding:10 15;
  -fx-background-color : rgba(15, 35, 80, 1);
}

.submenu-item:hover {
  -fx-cursor:hand;
  -fx-background-color : rgba(255, 255, 255, 1);
}

.submenu-item:hover > .sub-text {
  -fx-text-fill : rgba(123, 124, 125, 1);
}

.sub-text {
  -fx-padding:5 5 0 15;
  -fx-font-size:15;
  -fx-text-fill : rgba(255, 255, 255, 1);
}

.exam-button {
  -fx-image : url("../icon/Qualification_gray.png");
}

.submenu-item:hover > .exam-button {
  -fx-image : url("../icon/Qualification_black.png");
}

.storage-button {
  -fx-image : url("../icon/Storage_gray.png");
}

.submenu-item:hover > .storage-button {
  -fx-image : url("../icon/Storage_black.png");
}

.arrivals-button {
  -fx-image : url("../icon/NewArrivals_gray.png");
}

.submenu-item:hover > .arrivals-button {
  -fx-image : url("../icon/NewArrivals_black.png");
}
